<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bboy (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{749,618},{138,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>bboy (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,682},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>bboy (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{146,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,151}}</string>
                <key>sourceSize</key>
                <string>{146,151}</string>
            </dict>
            <key>bboy (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{153,141},{149,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,139}}</string>
                <key>sourceSize</key>
                <string>{149,141}</string>
            </dict>
            <key>bboy (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{132,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>bboy (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{601,552},{141,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{143,146}</string>
            </dict>
            <key>bboy (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{455,330},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>bboy (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{155,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,136}}</string>
                <key>sourceSize</key>
                <string>{155,136}</string>
            </dict>
            <key>bboy (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{592,695},{136,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,144}}</string>
                <key>sourceSize</key>
                <string>{136,144}</string>
            </dict>
            <key>bboy (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{453,543},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>bboy (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>bboy (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{757,331},{148,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,143}}</string>
                <key>sourceSize</key>
                <string>{148,143}</string>
            </dict>
            <key>bboy (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,127},{150,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,138}</string>
            </dict>
            <key>bboy (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{134,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,141}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>bboy (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{142,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,149}}</string>
                <key>sourceSize</key>
                <string>{142,149}</string>
            </dict>
            <key>bboy (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{627,150},{146,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,149}}</string>
                <key>sourceSize</key>
                <string>{146,149}</string>
            </dict>
            <key>bboy (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,137}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>bboy (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{153,345},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>bboy (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{149,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,138}}</string>
                <key>sourceSize</key>
                <string>{149,138}</string>
            </dict>
            <key>bboy (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{148,698},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>bboy (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{778,186},{143,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,149}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>bboy (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{304,344},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,148}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>bboy (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{155,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,137}}</string>
                <key>sourceSize</key>
                <string>{155,137}</string>
            </dict>
            <key>bboy (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{755,476},{140,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,147}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>boy (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1138},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>boy (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{90,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,126}}</string>
                <key>sourceSize</key>
                <string>{90,126}</string>
            </dict>
            <key>boy (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1101},{99,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,125}}</string>
                <key>sourceSize</key>
                <string>{99,125}</string>
            </dict>
            <key>boy (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1308},{111,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,119}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>boy (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1197},{98,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{98,125}</string>
            </dict>
            <key>boy (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1394},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>boy (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1271},{92,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,121}}</string>
                <key>sourceSize</key>
                <string>{92,121}</string>
            </dict>
            <key>boy (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{99,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,122}}</string>
                <key>sourceSize</key>
                <string>{99,122}</string>
            </dict>
            <key>boy (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1297},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>boy (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1043},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>boy (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1245},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>boy (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,544},{111,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,119}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>boy (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{857,954},{87,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,130}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>boy (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1209},{97,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,125}}</string>
                <key>sourceSize</key>
                <string>{97,125}</string>
            </dict>
            <key>boy (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1005},{107,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,130}}</string>
                <key>sourceSize</key>
                <string>{107,130}</string>
            </dict>
            <key>boy (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1230},{95,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,126}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>boy (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1202},{83,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{83,122}</string>
            </dict>
            <key>boy (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{89,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,130}}</string>
                <key>sourceSize</key>
                <string>{89,130}</string>
            </dict>
            <key>boy (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1147},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>boy (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1085},{110,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,129}}</string>
                <key>sourceSize</key>
                <string>{110,129}</string>
            </dict>
            <key>boy (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{897,665},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>boy (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1287},{75,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,122}}</string>
                <key>sourceSize</key>
                <string>{75,122}</string>
            </dict>
            <key>boy (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1165},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
            <key>boy (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1013},{86,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,130}}</string>
                <key>sourceSize</key>
                <string>{86,130}</string>
            </dict>
            <key>boy (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1114},{93,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,128}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>boy (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1323},{86,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,121}}</string>
                <key>sourceSize</key>
                <string>{86,121}</string>
            </dict>
            <key>boy (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1072},{91,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,130}}</string>
                <key>sourceSize</key>
                <string>{91,130}</string>
            </dict>
            <key>boy (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1327},{99,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,122}}</string>
                <key>sourceSize</key>
                <string>{99,122}</string>
            </dict>
            <key>boy (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{907,422},{113,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>boy (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1264},{105,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,124}}</string>
                <key>sourceSize</key>
                <string>{105,124}</string>
            </dict>
            <key>boy (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1147},{79,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,122}}</string>
                <key>sourceSize</key>
                <string>{79,122}</string>
            </dict>
            <key>gboy (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{737,839},{78,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,144}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>gboy (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,636},{60,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{60,146}</string>
            </dict>
            <key>gboy (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{303,492},{62,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,148}}</string>
                <key>sourceSize</key>
                <string>{62,150}</string>
            </dict>
            <key>gboy (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{934,143},{88,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,138}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
            <key>gboy (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,829},{75,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,142}}</string>
                <key>sourceSize</key>
                <string>{75,142}</string>
            </dict>
            <key>gboy (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,556},{62,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,146}}</string>
                <key>sourceSize</key>
                <string>{62,146}</string>
            </dict>
            <key>gboy (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{782,125},{59,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,150}}</string>
                <key>sourceSize</key>
                <string>{59,150}</string>
            </dict>
            <key>gboy (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{570,991},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>gboy (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,556},{78,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,146}}</string>
                <key>sourceSize</key>
                <string>{78,146}</string>
            </dict>
            <key>gboy (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{58,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,144}}</string>
                <key>sourceSize</key>
                <string>{58,144}</string>
            </dict>
            <key>gboy (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,140},{62,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,150}}</string>
                <key>sourceSize</key>
                <string>{62,150}</string>
            </dict>
            <key>gboy (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{445,690},{65,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,145}}</string>
                <key>sourceSize</key>
                <string>{65,145}</string>
            </dict>
            <key>gboy (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,917},{86,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,138}}</string>
                <key>sourceSize</key>
                <string>{86,138}</string>
            </dict>
            <key>gboy (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{145,973},{75,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,140}}</string>
                <key>sourceSize</key>
                <string>{75,140}</string>
            </dict>
            <key>gboy (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{455,267},{61,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,149}}</string>
                <key>sourceSize</key>
                <string>{61,149}</string>
            </dict>
            <key>gboy (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{606,298},{57,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,149}}</string>
                <key>sourceSize</key>
                <string>{57,149}</string>
            </dict>
            <key>gboy (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{929,283},{93,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,137}}</string>
                <key>sourceSize</key>
                <string>{93,137}</string>
            </dict>
            <key>gboy (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,62},{63,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,151}}</string>
                <key>sourceSize</key>
                <string>{63,151}</string>
            </dict>
            <key>gboy (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1050},{86,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,137}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>gboy (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{288,906},{75,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,140}}</string>
                <key>sourceSize</key>
                <string>{75,140}</string>
            </dict>
            <key>gboy (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{604,487},{63,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,147}}</string>
                <key>sourceSize</key>
                <string>{63,147}</string>
            </dict>
            <key>gboy (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{782,64},{59,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,150}}</string>
                <key>sourceSize</key>
                <string>{59,150}</string>
            </dict>
            <key>gboy (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{883,861},{91,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,139}}</string>
                <key>sourceSize</key>
                <string>{91,141}</string>
            </dict>
            <key>gboy (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{591,833},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>rboy (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{445,757},{80,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,144}}</string>
                <key>sourceSize</key>
                <string>{80,144}</string>
            </dict>
            <key>rboy (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,620},{60,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{60,146}</string>
            </dict>
            <key>rboy (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,493},{61,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,148}}</string>
                <key>sourceSize</key>
                <string>{61,148}</string>
            </dict>
            <key>rboy (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{85,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,139}}</string>
                <key>sourceSize</key>
                <string>{85,141}</string>
            </dict>
            <key>rboy (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{436,839},{76,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,140}}</string>
                <key>sourceSize</key>
                <string>{76,140}</string>
            </dict>
            <key>rboy (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{61,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,149}}</string>
                <key>sourceSize</key>
                <string>{61,149}</string>
            </dict>
            <key>rboy (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{58,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,152}}</string>
                <key>sourceSize</key>
                <string>{58,152}</string>
            </dict>
            <key>rboy (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{719,919},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>rboy (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{79,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,146}}</string>
                <key>sourceSize</key>
                <string>{79,146}</string>
            </dict>
            <key>rboy (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,834},{59,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,142}}</string>
                <key>sourceSize</key>
                <string>{59,142}</string>
            </dict>
            <key>rboy (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{605,422},{63,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,148}}</string>
                <key>sourceSize</key>
                <string>{63,148}</string>
            </dict>
            <key>rboy (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>rboy (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{287,983},{87,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,137}}</string>
                <key>sourceSize</key>
                <string>{87,137}</string>
            </dict>
            <key>rboy (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{145,895},{76,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,141}}</string>
                <key>sourceSize</key>
                <string>{76,141}</string>
            </dict>
            <key>rboy (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{153,282},{61,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,149}}</string>
                <key>sourceSize</key>
                <string>{61,149}</string>
            </dict>
            <key>rboy (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{58,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,148}}</string>
                <key>sourceSize</key>
                <string>{58,148}</string>
            </dict>
            <key>rboy (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>rboy (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{605,357},{63,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,148}}</string>
                <key>sourceSize</key>
                <string>{63,148}</string>
            </dict>
            <key>rboy (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{88,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,139}}</string>
                <key>sourceSize</key>
                <string>{88,139}</string>
            </dict>
            <key>rboy (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{578,914},{75,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,139}}</string>
                <key>sourceSize</key>
                <string>{75,139}</string>
            </dict>
            <key>rboy (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,479},{62,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,148}}</string>
                <key>sourceSize</key>
                <string>{62,148}</string>
            </dict>
            <key>rboy (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{60,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,150}}</string>
                <key>sourceSize</key>
                <string>{60,150}</string>
            </dict>
            <key>rboy (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{884,769},{90,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,138}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
            <key>rboy (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{738,758},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boysprite1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84af0183ad8685d704c79c4cd3096cd$</string>
            <key>textureFileName</key>
            <string>boysprite1.png</string>
        </dict>
    </dict>
</plist>
