<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluecar (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{497,972},{242,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,109}}</string>
                <key>sourceSize</key>
                <string>{242,109}</string>
            </dict>
            <key>bluecar (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1078},{241,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,107}}</string>
                <key>sourceSize</key>
                <string>{241,107}</string>
            </dict>
            <key>bluecar (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{750,969},{243,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,107}}</string>
                <key>sourceSize</key>
                <string>{243,107}</string>
            </dict>
            <key>bluecar (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1257},{238,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,107}}</string>
                <key>sourceSize</key>
                <string>{238,107}</string>
            </dict>
            <key>bluecar (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1022},{242,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,107}}</string>
                <key>sourceSize</key>
                <string>{242,107}</string>
            </dict>
            <key>bluecar (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{995,913},{243,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,107}}</string>
                <key>sourceSize</key>
                <string>{243,107}</string>
            </dict>
            <key>bluecar (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,965},{242,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,108}}</string>
                <key>sourceSize</key>
                <string>{242,108}</string>
            </dict>
            <key>bluecar (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{243,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,108}}</string>
                <key>sourceSize</key>
                <string>{243,108}</string>
            </dict>
            <key>bluecar (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,892},{243,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,109}}</string>
                <key>sourceSize</key>
                <string>{243,109}</string>
            </dict>
            <key>bluecar (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,860},{246,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,110}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>bluecar (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1003},{242,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,108}}</string>
                <key>sourceSize</key>
                <string>{242,108}</string>
            </dict>
            <key>bluecar (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{242,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,108}}</string>
                <key>sourceSize</key>
                <string>{242,108}</string>
            </dict>
            <key>bluecar (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{750,860},{243,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,107}}</string>
                <key>sourceSize</key>
                <string>{243,107}</string>
            </dict>
            <key>bluecar (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1083},{241,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,105}}</string>
                <key>sourceSize</key>
                <string>{241,105}</string>
            </dict>
            <key>bmw (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,829},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,776},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,808},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>bmw (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,776},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,897},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,881},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,798},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,745},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,387},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>bmw (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>bmw (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,692},{248,82}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{256,82}</string>
            </dict>
            <key>bmw (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,724},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,692},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,661},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,608},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,640},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,608},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,812},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>bmw (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,524},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,796},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>bmw (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,882},{248,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,81}}</string>
                <key>sourceSize</key>
                <string>{248,81}</string>
            </dict>
            <key>bmw (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,556},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,524},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>bmw (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,472},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>gtruck (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1201},{238,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,122}}</string>
                <key>sourceSize</key>
                <string>{260,122}</string>
            </dict>
            <key>gtruck (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1092},{238,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,123}}</string>
                <key>sourceSize</key>
                <string>{260,123}</string>
            </dict>
            <key>gtruck (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,981},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>gtruck (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1187},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>gtruck (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,965},{238,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,125}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>gtruck (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1131},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>gtruck (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1075},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>lorry (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,262},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{760,261},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{508,136},{250,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,124}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
            <key>lorry (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{250,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,124}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
            <key>lorry (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,260},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,260},{250,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,122}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>lorry (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,136},{250,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,124}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
            <key>lorry (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,135},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{764,135},{250,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,124}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
            <key>lorry (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,135},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,135},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,135},{250,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>lorry (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{506,262},{250,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,122}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>lorry (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{250,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,122}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>lorry (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,260},{250,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,120}}</string>
                <key>sourceSize</key>
                <string>{256,120}</string>
            </dict>
            <key>schoolbus (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,660},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,523},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,386},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{506,386},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,674},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,658},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,536},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,522},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,520},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,398},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,385},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,384},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,382},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>schoolbus (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,260},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,136}</string>
            </dict>
            <key>ytruck (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2},{252,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>ytruck (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,133}}</string>
                <key>sourceSize</key>
                <string>{252,133}</string>
            </dict>
            <key>ytruck (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{252,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>ytruck (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{252,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>ytruck (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,132}}</string>
                <key>sourceSize</key>
                <string>{252,132}</string>
            </dict>
            <key>ytruck (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{252,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>ytruck (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,132}}</string>
                <key>sourceSize</key>
                <string>{252,132}</string>
            </dict>
            <key>ytruck (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{252,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cars.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d13468a9742cc0f07c6ddc280b0f177$</string>
            <key>textureFileName</key>
            <string>cars.png</string>
        </dict>
    </dict>
</plist>
