<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{151,533},{137,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,147}</string>
            </dict>
            <key>bboyf (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{147,672},{143,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>bboyf (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,642},{143,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,101}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>bboyf (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{141,912},{136,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,106}}</string>
                <key>sourceSize</key>
                <string>{136,106}</string>
            </dict>
            <key>bboyf (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>bboyf (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,534},{143,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,106}}</string>
                <key>sourceSize</key>
                <string>{143,106}</string>
            </dict>
            <key>bboyf (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{142,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>bboyf (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,745},{141,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,101}}</string>
                <key>sourceSize</key>
                <string>{141,101}</string>
            </dict>
            <key>bboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{141,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>bboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,774},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{136,138}</string>
            </dict>
            <key>bboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{155,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,131}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>bboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,126}}</string>
                <key>sourceSize</key>
                <string>{157,126}</string>
            </dict>
            <key>bboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{152,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,128}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>bboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,64},{150,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,121}}</string>
                <key>sourceSize</key>
                <string>{150,121}</string>
            </dict>
            <key>bboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,426},{147,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,105}}</string>
                <key>sourceSize</key>
                <string>{147,105}</string>
            </dict>
            <key>bboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,912},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>gboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{58,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,147}}</string>
                <key>sourceSize</key>
                <string>{58,147}</string>
            </dict>
            <key>gboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{59,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,147}}</string>
                <key>sourceSize</key>
                <string>{59,147}</string>
            </dict>
            <key>gboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{302,418},{53,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,148}}</string>
                <key>sourceSize</key>
                <string>{53,148}</string>
            </dict>
            <key>gboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{453,358},{53,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,148}}</string>
                <key>sourceSize</key>
                <string>{53,148}</string>
            </dict>
            <key>gboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,192},{57,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,149}}</string>
                <key>sourceSize</key>
                <string>{57,149}</string>
            </dict>
            <key>gboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{307,303},{53,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,149}}</string>
                <key>sourceSize</key>
                <string>{53,149}</string>
            </dict>
            <key>gboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{53,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,149}}</string>
                <key>sourceSize</key>
                <string>{53,149}</string>
            </dict>
            <key>gboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{308,187},{57,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,149}}</string>
                <key>sourceSize</key>
                <string>{57,149}</string>
            </dict>
            <key>gboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{59,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,148}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>rboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{301,473},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>rboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{303,358},{58,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,148}}</string>
                <key>sourceSize</key>
                <string>{58,148}</string>
            </dict>
            <key>rboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,135},{55,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,150}}</string>
                <key>sourceSize</key>
                <string>{55,150}</string>
            </dict>
            <key>rboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,251},{54,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,149}}</string>
                <key>sourceSize</key>
                <string>{54,149}</string>
            </dict>
            <key>rboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,369},{55,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,148}}</string>
                <key>sourceSize</key>
                <string>{55,148}</string>
            </dict>
            <key>rboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{307,246},{55,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,149}}</string>
                <key>sourceSize</key>
                <string>{55,149}</string>
            </dict>
            <key>rboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{54,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,148}}</string>
                <key>sourceSize</key>
                <string>{54,148}</string>
            </dict>
            <key>rboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{153,307},{60,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,148}}</string>
                <key>sourceSize</key>
                <string>{60,148}</string>
            </dict>
            <key>rboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{60,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,151}}</string>
                <key>sourceSize</key>
                <string>{60,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5047d79129ab18263389883c465d680c$</string>
            <key>textureFileName</key>
            <string>fly.png</string>
        </dict>
    </dict>
</plist>
