<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{704,310},{298,314}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,21},{298,314}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1404},{320,226}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,25},{320,226}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1404},{320,226}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,25},{320,226}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{320,238}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,13},{320,238}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{320,238}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,13},{320,238}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{320,238}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,13},{320,238}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1404},{320,226}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,25},{320,226}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1404},{320,226}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,25},{320,226}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{306,314}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,18},{306,314}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1498},{300,308}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,2},{300,308}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{348,314}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{348,314}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,304}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{350,304}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{340,310}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{340,310}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,318},{336,298}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,7},{336,298}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{682,610},{330,264}}</string>
                <key>offset</key>
                <string>{32,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,20},{330,264}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>bboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{320,238}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,13},{320,238}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1322},{174,322}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,14},{174,322}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,970},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{658,876},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1146},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{658,876},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,970},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>gboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1322},{174,322}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,14},{174,322}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1228},{44,82}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{44,82}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>rboyf (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1052},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,794},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,618},{174,326}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,10},{174,326}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1052},{174,324}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,12},{174,324}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
            <key>rboyf (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1228},{174,322}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,14},{174,322}}</string>
                <key>sourceSize</key>
                <string>{494,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flysprite.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df667aee5ea10849a16d1fbd1f4a7950$</string>
            <key>textureFileName</key>
            <string>flysprite.png</string>
        </dict>
    </dict>
</plist>
