<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1502},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw11.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1930},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1590},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1590},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw14.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1842},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,964},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,876},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,862},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,876},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw23.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw24.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1502},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw25.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1592},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw26.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1592},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw27.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1592},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw28.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,876},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw29.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1252},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1504},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw7.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,876},{248,86}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,108},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw8.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1002},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bmw9.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1254},{248,86}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,752},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,612},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,612},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,502},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,362},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus14.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,362},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1908},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1908},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1518},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1582},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,362},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,252},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bus9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,2},{248,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{248,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1264},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1010},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,756},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,502},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1720},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1720},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1328},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1328},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1741},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,356},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,238},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,120},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>car9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{252,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{252,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jeep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,915},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,502},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,182},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,182},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,182},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep7.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep8.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>jeep9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,178}}</string>
                <key>sourceSize</key>
                <string>{411,178}</string>
            </dict>
            <key>truck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1002},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1254},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck11.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,862},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck12.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1002},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck13.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,496},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,742},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,496},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,496},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,608},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,474},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,362},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,362},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,362},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck8.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1656},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>truck9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1656},{250,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,65},{250,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicles_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4c8e43573810841aaee43b23e8f5b75$</string>
            <key>textureFileName</key>
            <string>vehicles_all.png</string>
        </dict>
    </dict>
</plist>
